<!DOCTYPE html>
<html>
  <head>
    <title>道場</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  		<a class="navbar-brand" href="#">道場</a>
  		<div class="navbar-nav">
  			<a class="nav-item nav-link" href="#">Feeds</a>
  			<a class="nav-item nav-link" href="#">All Posts</a>
  			<a class="nav-item nav-link" href="#">New Post</a>
  		</div>
  		<a class="nav-item nav-link ml-auto" href="#">Login</a>
  	</nav>
  	<%= yield %>
  </body>
</html>
